@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

$font-family-default: 'Rubik';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-family-default, sans-serif;
    font-size: 10px;
}